body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    }
    
label{
    color:blue;
    position: centre;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.male{
    color: blue
}
div{
    text-align: center;
    display: grid;
    grid-column: auto;
    

}
body{ background-color: turquoise;}


